@model IEnumerable<Ha_Systems_Proyect.Models.HABITACION>

@{
    ViewBag.Title = "ListHabitacion";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<h4 style="text-align:center; font-weight:bold;">Listado de Habitaciones</h4>

<table class="table" style="margin-top:3%; background-color:white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_habitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_habitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr >
           <th>
                @Html.DisplayFor(modelItem => item.Id_habitacion)
             </th>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @if (item.Estado_habitacion == 0)
                {
                    //@Html.DisplayFor(modelItem => item.Estado_habitacion)
                    <text>Arreglada</text>
                }
                else if (item.Estado_habitacion == 1)
                {
                    <text>Sucia</text>
                }
                else
                {

                    <text>No Valido</text>
                }


            </td>
            <td>
                @if (item.Disponibilidad == true)
                {
                    //@Html.DisplayFor(modelItem => item.Disponibilidad)
                    <text>Disponible</text>
                }
                else
                {
                    // @html.displayfor(modelitem => item.disponibilidad)
                    <text>No Disponible</text>
                }

            </td>
            <td>

                <a href="@Url.Action("DeleteHabitacion","Habita",new { idH = item.Id_habitacion })">

                    <img src="@Url.Content("~/Content/img/Delete.png")" style="margin:auto; top:0; left:0; bottom:0; position:relative;" width="20" height="20" />

                    <!--<div style="height:100%; margin-top:50px;  margin-left:30px; color:#3399FF; float:right; font-size:20px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight:bold;">ViewBag.Page</div> -->
                </a>
            </td>
        </tr>
    }

</table>
