<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="~/Content/css/style.css" TYPE="text/css" MEDIA=screen>
    <LINK REL=StyleSheet HREF="~/Content/Site.css" TYPE="text/css" MEDIA=screen>
    <LINK REL=StyleSheet HREF="~/Content/bootstrap.min.css.map" TYPE="text/css" MEDIA=screen>
    <LINK REL=StyleSheet HREF="~/Content/bootstrap.css.map" TYPE="text/css" MEDIA=screen>
    <LINK REL=StyleSheet HREF="~/Content/bootstrap.css" TYPE="text/css" MEDIA=screen>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

        @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>

