@model Ha_Systems_Proyect.Models.CLIENTE

@{
    ViewBag.Title = "EditCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sectionFormL" style="width:40% !important; position:center; float:none; margin:auto;">
    <h4 style="text-align:center; font-weight:bold;">Editar Datos del Cliente</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_cliente)

        <label style="color: red; text-align: center; font-weight: normal; width: 100%;">@ViewBag.error</label>
        <div style="width:100%; display:flex; ">
            <div class="col-sm-5" style="width:100%;">
                <div style="margin-top:20px;" class="form-group">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div style="margin-top:25px;" class="form-group">
                    @Html.LabelFor(model => model.Apellido)
                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                </div>


                <div style="margin-top:25px;" class="form-group">
                    @Html.LabelFor(model => model.Celular)
                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })

                </div>

            </div>

            <div class="col-sm-5" style="width:100%;">
                <div style="margin-top:20px;" class="form-group">
                    @Html.LabelFor(model => model.Cedula)
                    @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control"} })
                </div>


                <div style="margin-top:25px;" class="form-group">
                    @Html.LabelFor(model => model.Correo)
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div style="margin-top:25px;" class="form-group">
                    @Html.LabelFor(model => model.Ciudad)
                    @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control" } })
                </div>


            </div>


        </div>

        <div style="width:100%; display:flex;">
            <div class="form-group" style="width:100%;">
                <div class="col-lg-12" style=" margin-top:20px; max-width:100% !important;">
                    @Html.LabelFor(model => model.Direccion)
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", style = "max-width:100% !important;" } })
                </div>
            </div>
        </div>

        <div style="margin-top:20px;" class="form-group">
            <div style=" text-align:center; display:block; ">
                <input type="submit" value="Modificar" style="width:27%;" class="btn btn-primary" />
                <input type="reset" value="Limpiar Todo" style="width:27%;" class="btn btn-danger" />
                <input onclick="location.href='@Url.Action("Cliente")';return false;" value="Regresar" style="width:27%;" class="btn btn-success" />
            </div>
        </div>
    }

</div>   

